.DS_Store
.env
allure-results
allure-report
playwright-report
trace.zip
*.log

# editor
.idea/
# .vscode/

html/

test-ui/
pw-tests*/
packages/


# Playwright
node_modules/
/test-results/
/playwright/.cache/
/artifacts/*
!artifacts/temp
artifacts/temp/*
!artifacts/temp/.keep
!artifacts/downloads
artifacts/downloads/*
!artifacts/downloads/.keep
!artifacts/logs
artifacts/logs/*
!artifacts/logs/.keep
!artifacts/reports
artifacts/reports/*
!artifacts/reports/.keep
!artifacts/cookies
artifacts/cookies/*
!artifacts/cookies/.keep

/dist
dist
dist/*.js.map
dist/scaffold.js
/dist/*.js.map
/dist/scaffold.js
dist/scaffold.js
